# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build
# =========================
build/
dist/

# =========================
# Cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Docker
# =========================
.docker/

# =========================
# Frontend dependencies
# =========================
node_modules/

# =========================
# Colab
# =========================
content/

# =========================
# Archivos temporales
# =========================
*.tmp
*.bak
*.swp
